.cocktail-list-item {
    margin: 10px 10px;
    display: flex;
    width: 600px;
    height: 3000px;
}

.cocktail-product-image {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    float: left;
}
.cocktail-product-image-desc {
    display: block;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.cocktail-product-desc {
    padding: 10px;
    flex-grow: 1;
}

.cocktail-product-name {
    font-size: 20px;
    color: black;
    margin-top: 7px;
    font-weight: bold;
}

.home-btn {
    padding: 5px 20px;;
    color: black;
    border-color: black;
    border-radius: 2px;
    background-color: blue;
}

.style-bold {
    font-weight: bold;
    color: black;
}

.style-blue {
    color: blue;
}

.style-green {
    color: green;
}