<cocktail-filter (updateSearchValue)="setSearchValue($event)"></cocktail-filter>
<div class="cocktail-list-container">
    <ng-container *ngFor="let list of cocktailList | search:searchValue">
        <div class="cocktail-list-item">
            <div class="cocktail-product-image">
                <img [src]="list.imageUrl" class="cocktail-product-image-desc">
            </div>
            <div class="cocktail-product-desc">
                <div class="cocktail-product-name">
                    <a (click)="cocktailDetails(list.id)">{{list.name}}</a>
                    <span class="icon-star" data-id="${list.id}" (click)="onClickFavourite(list)"
                        [ngClass]="{'active': list.isFavorite}"></span>
                </div>
                <div class="style-bold" [ngClass]="list.isAlcoholic ? 'style-blue' : 'style-green'">{{list.isAlcoholic ?
                    'Alcoholic' : 'Non alcoholic'}}</div>
                <div>{{list.ingredients | ingredientsList }}</div>
            </div>
        </div>
    </ng-container>
</div>